.cnh-caminhao {
    width: 250px;
    height: 250px;
}

.cnh-moto {
    width: 250px;
    height: 250px;
}

.cnh-carro {
    width: 250px;
    height: 250px;
}

.instrutores {
    width: 250px;
    height: 250px;
}   

.sobrenos {
    width: 350px;
    height: 350px;
}